<br><br><br>
<div class="container"> 
    <div class="row">
    {% for blog_post in section.blocks %}
        <div class="col-12 col-sm-6 col-lg-3 p-xs-0 mb-4">
            <div class="w-100 position-relative overflow-hidden">
                <a class="categoria-principal-card" href="{{ blog_post.settings.blog.url }}?view=categoria">
                    <img class="d-md-none" src="{{ blog_post.settings.blog_image | image_url: width: 768, height:450, format:'pjpg', crop: 'center' }}" style="filter: brightness(0.5);"  data-rimg="lazy" loading="lazy">
                    <img class="d-none d-md-block" src="{{ blog_post.settings.blog_image | image_url: width: 400, height:500, format:'pjpg', crop: 'center' }}" style="filter: brightness(0.5);"  data-rimg="lazy" loading="lazy">
                    <div class="position-absolute top-50 start-50 translate-middle text-center w-100">
                      <p class="text-white fs-5">{{ blog_post.settings.blog.title }} </p>
                      <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/18dddcc9cf53b547eaf0f76c308502f6.svg?v=1682619489" alt="Imagen de categoria" data-rimg="lazy" loading="lazy">
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% schema %}
  {
    "name": "Entradas Blog",
    "settings": [
        {
          "type": "image_picker",
          "id": "hover_image",
          "label": "Imagen"
        }
    ],
  "blocks": [
     {
       "name": "blogs",
       "type": "blog_type",
       "settings": [
        {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
        },
        {
            "type": "image_picker",
            "id": "blog_image",
            "label": "Imagen del blog"
          }
       ]
     }
   ],
      "presets": [
        {
        "name": "Blog Categorias"
        }
      ]
  }
{% endschema %}