{{ 's-faq-recurrency.css'  | asset_url | stylesheet_tag }}

<div class="container">
    <div class="row mb-5 mt-5 pt-5">
        <div class="col-12">
            <h1 class="text-center" style="color:#404b5a;">Preguntas frecuentes pagos recurrentes</h1>
        </div>
    </div>
    <div class="row">
        <div class="card-container-question">
            <div class="container-question"> 
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-plus.svg?v=1679325536" alt="" data-rimg="lazy" loading="lazy">
                ¿Cómo puedo programar pagos recurrentes para mi factura JAMAR?</div>
            <div class="container-answer">Es muy fácil solo debes registrarte en nuestro <a href="">Portal de Clientes</a> y la sección de pagos activar la opción de recurrencia de pagos.</div>
        </div>
        <div class="card-container-question">
            <div class="container-question">
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-plus.svg?v=1679325536" alt="" data-rimg="lazy" loading="lazy">
                ¿Cuándo se procesa mi pago recurrente?</div>
            <div class="container-answer">Una vez afiliado a la recurrencia su primer pago quedará programado para el mes siguiente en la fecha y por el monto indicado en la afiliación.</div>
        </div>
        <div class="card-container-question">
            <div class="container-question">
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-plus.svg?v=1679325536" alt="" data-rimg="lazy" loading="lazy">
                ¿Cuáles son los beneficios de los pagos recurrentes?</div>
            <div class="container-answer">Los pagos recurrentes te permiten despreocuparte del pago ya que este se hace de forma automática permitiéndote estar al día con tu crédito.</div>
        </div>
        <div class="card-container-question">
            <div class="container-question">
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-plus.svg?v=1679325536" alt="" data-rimg="lazy" loading="lazy">
                ¿Cuándo se aplica el pago en JAMAR?</div>
            <div class="container-answer">Los pagos realizados a traves de la recurrencia se reflejarán en su cuenta de Jamar el mismo día de forma automática.</div>
        </div>
        <div class="card-container-question">
            <div class="container-question">
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-plus.svg?v=1679325536" alt="" data-rimg="lazy" loading="lazy">
                ¿Qué hago si el pago se rechaza?</div>
            <div class="container-answer">....</div>
        </div>
        <div class="card-container-question">
            <div class="container-question">
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-plus.svg?v=1679325536" alt="" data-rimg="lazy" loading="lazy">
                ¿Dónde veo el detalle de mis débitos?</div>
            <div class="container-answer">El detalle de los pagos procesados en concepto de recurrencia en Jamar podrá verlos en el detalle de movimientos de su Tarjeta.</div>
        </div>
        <div class="card-container-question">
            <div class="container-question">
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-plus.svg?v=1679325536" alt="" data-rimg="lazy" loading="lazy">
                ¿Como consultar el saldo de mi crédito?</div>
            <div class="container-answer">El saldo de su crédito asi como los pagos realizados puede consultarlos a traves de nuestro Portal de Clientes.</div>
        </div>
        <div class="card-container-question">
            <div class="container-question">
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-plus.svg?v=1679325536" alt="" data-rimg="lazy" loading="lazy">
                ¿Cómo solicitar un reembolso?</div>
            <div class="container-answer">...</div>
        </div>
        <div class="card-container-question">
            <div class="container-question">
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-plus.svg?v=1679325536" alt="" data-rimg="lazy" loading="lazy">
                ¿Puedo cambiar la tarjeta desde donde realizo los pagos?</div>
            <div class="container-answer">Si, siempre y cuando usted sea el titular de esta tarjeta, para lo cual deberá dar de baja la tarjeta actual y registrar la nueva.</div>
        </div>
        <div class="card-container-question">
            <div class="container-question">
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-plus.svg?v=1679325536" alt="" data-rimg="lazy" loading="lazy">
                ¿Puedo cambiar la tarjeta desde donde realizo los pagos?</div>
            <div class="container-answer">Si, siempre y cuando usted sea el titular de esta tarjeta, para lo cual deberá dar de baja la tarjeta actual y registrar la nueva.</div>
        </div>
        <div class="card-container-question">
            <div class="container-question">
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-plus.svg?v=1679325536" alt="" data-rimg="lazy" loading="lazy">
                ¿Qué pasa si mi tarjeta vence?</div>
            <div class="container-answer">Si su tarjeta vence no será posible procesar los pagos, por lo cual podrá cambiar los datos de la nueva tarjeta o suspender la suscripción cancelando de manera voluntaria para evitar atrasos en sus pagos.</div>
        </div>
        <div class="card-container-question">
            <div class="container-question">
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-plus.svg?v=1679325536" alt="" data-rimg="lazy" loading="lazy">
                ¿Puedo dar de baja la recurrencia de pagos?</div>
            <div class="container-answer">Si, ingresando al boton___  ubicado ___</div>
        </div>
    </div>
</div>

<script>
window.addEventListener("click", (e) =>{
    let {target} = e;
    if (target.classList.contains("card-container-question")) {
        let validateImagen = target.querySelector("img");
        let valueImagen = validateImagen.attributes.src.value == "https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-remove.svg?v=1679325536"? "https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-plus.svg?v=1679325536" : "https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-remove.svg?v=1679325536";
        validateImagen.src = valueImagen;
        target.querySelector(".container-answer").classList.toggle("active")
    }
})
</script>

{% schema %}

{
    "name":"Seccion Tienda",
    "tag":"div",
    "class":"tienda-section",
    "settings": [
        {
            "type": "text",
            "id": "h2",
            "label": "Titulo de sección",
            "default": "Visita nuestra tienda"
        }
    ],
    "presets": [
    {
        "name": "FAQ",
        "category": "Pages"
    }
    ]
}

{% endschema %}