{{ 'section-titles-col.css' | asset_url | stylesheet_tag }}

<div class="contenedor-titulos-seccion-detalles-alma style-2" style="margin-bottom: 40px;margin-top: 40px;">
  {% if section.settings.collection_title != blank %}
    <h2 class="aux-st-font text-center">
      {{ section.settings.collection_title }}
    </h2>
  {% endif %}
  {% if section.settings.collection_parrafo != blank %}
    <p class="text-center">{{ section.settings.collection_parrafo }}</p>
  {% endif %}
</div>
<style>
  .aux-st-font{
    font-family: 'Geomanist Regular';
  }
</style>
{% schema %}
{
   "name":"Titulos Coleccion solo x",
   "class":"section-titulos-colecciones",
   "settings": [
    {
      "type":"text",
      "id":"text_direct",
      "label":"Alineacion del texto (start | center | end)",
      "default":   "center"
    },
    {
        "type":"text",
        "id":"collection_title",
        "label":"Colocar el titulo"
    },
    {
        "type":"text",
        "id":"collection_parrafo",
        "label":"Colocar el parrafo"
    }
   ],
   "presets":[
    {
        "name":"Titulos Coleccion solo"
    }
   ]
}
{% endschema %}