{% comment %} Agrega una hoja de estilos css con un filtro de liquid {% endcomment %}
{% assign css = 'static-header-blog.css' | asset_url %}
<link rel="stylesheet" href="{{ css }}">


<header class="main-header-blog">
  <nav class="navigation">
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </nav>
</header>