.navigation .items .logo-container {
    width: 200px;
}

@media screen and (max-width:900px) {
    .navigation .items .logo-container img {
        width: 120px;
    }
}

.navigation .items .mostrar-menu {
    border: none;
}
.navigation .items .mostrar-menu button {
    border: none;
    background-color: transparent;
}


.buscador-blog-movil {
    width: 100%;
    height: 60px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.buscador-blog-movil .buscador-inputs {
    background-color: #F1F1F1;
    padding: 6px 10px;
    border-radius: 30px;
    width: 90%;
}

.buscador-blog-movil .buscador-inputs img {
    width: 20px;
}
.buscador-blog-movil .buscador-inputs input {
    background-color: transparent;
    border: none;
    border-radius: 30px;
    margin-left: 5px;
}


.blog-categorias-principal {
    margin-top: 80px;
}
@media screen and (max-width:900px) {
    .blog-categorias-principal {
        margin-top: 40px;
        flex-direction: column;
    }
}
.categoria-principal-card {
    display: flex;
    width: 100%;
    height: 460px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.categoria-principal-card .icons {
    display: flex;
    width: 100%;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    position: relative;
}
.categoria-principal-card:hover img {
    overflow: hidden;
    transform: scale(1.2);
    transition: all 1s;
}


.categoria-principal-card img {
    transition: all 1s;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-color: rgb(242, 242, 242);
    filter: brightness(.5);
}
.categoria-principal-card .icons img {
    width: 20px;
    background-color: transparent;
    position: static;filter: none;
}

.categoria-principal-card p {
    color:white;
    font-size: 20px;
}

@media screen and (max-width:900px) {
    .categoria-principal-card {
        height: 330px;
    } 
}

.entradas-blog-categoria-reciente {
    margin-top: 80px;
}

.seccion-categoria-blog-contenido {
    background-color: transparent;
    margin-top: 80px;
}

@media screen and (max-width:900px) {
    .seccion-categoria-blog-contenido {
        background-color: transparent;
        margin-top: 40px;
        padding: 0px 16px;
    }
}

.seccion-categoria-blog-contenido h2 {
    background-color: transparent;
    font-weight: 600;
    color: #404B5A;
}
.seccion-categoria-blog-contenido .line-separator {
    background-color: #6E6E6E;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 30px;
}

@media screen and (max-width:900px) {
    .seccion-categoria-blog-contenido .line-separator {
        height: 1.5px;
    }
}

.seccion-categoria-blog-contenido .entradas-recientes-categoria {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
}

@media screen and (max-width:900px) {
    .seccion-categoria-blog-contenido .entradas-recientes-categoria {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 16px;
    }

}
.seccion-categoria-blog-contenido .entradas-recientes-categoria .tarjeta-articulos {
    width: 100%;
}
.entradas-recientes-categoria .tarjeta-articulos img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}
.entradas-recientes-categoria .tarjeta-articulos:hover img {
    width: 100%;
    object-fit: cover;
    height: 250px;
    filter: brightness(.7);
}

@media screen and (max-width:900px) {
    .entradas-recientes-categoria .tarjeta-articulos img {
        width: 100%;
        object-fit: cover;
        height: 150px;
    }
}

.entradas-recientes-categoria .tarjeta-articulos h3 {
    width: 100%;
    object-fit: cover;
    text-decoration: none;
    color: white;
    font-size: 18px;
    color: #404B5A;
    margin-top: 10px;
    font-weight: 600;
}

.barra-lateral-publicacion-recientes {
    margin-top: 80px;
    display: grid;
    row-gap: 20px;
    padding-left: 40px;
}

@media screen and (max-width:900px) {
    .barra-lateral-publicacion-recientes {
        margin-top: 40px;
        display: grid;
        row-gap: 20px;
        padding: 0px 20px;
    }
}

.barra-lateral-publicacion-recientes a {
    color: #404B5A;
    font-weight: 800;
}

.cat-principal-blog-grupo {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 80px;
    position: relative;
    height: 450px;
    max-height: 450px;
    width: 100%;
    overflow: hidden;
}

.cat-principal-blog-grupo picture {
    width: 100%;
    height: 100%;
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    position: absolute;
    overflow: hidden;
}
.cat-principal-blog-grupo picture .main-category-blog {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    object-fit: cover;
    object-position: center;
    
}

@media screen and (max-width:900px) {
    .cat-principal-blog-grupo {
        margin-bottom: 40px;
        height: 350px;
}
}

.cat-principal-blog-grupo p {
    font-size: 40px;
    color: white;
    z-index: 1;
}

@media screen and (max-width:900px) {
    .cat-principal-blog-grupo p {
        font-size: 28px;
    }
}

.entrada-blog-categoria {
    width: 100%;
    height: 340px;
    position: relative;
    text-decoration: none;
    color: #404B5A;
}
.entrada-blog-categoria:hover {
    width: 100%;
    height: 340px;
    position: relative;
    text-decoration: none;
    color: #000000;
}
.entrada-blog-categoria span {
    position: absolute;
    display: block;
    background-color: #eeeeee;
    padding: 4px 6px;
    font-size: 8px;
    border-radius: 10px;
    right: 25px;
    top: 10px;
}
.entrada-blog-categoria img {
    display: block;
    background-color: #d4d4d4;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@media screen and (max-width:900px) {
    .entrada-blog-categoria img {
        display: block;
        background-color: #d4d4d4;
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
}

.entrada-blog-categoria p {
   margin-top: 10px;
   font-size: 16px;
   line-height: 20px;
   font-weight: 700;

}

@media screen and (max-width:900px) {
    .entrada-blog-categoria p {
       font-size: 14px;
       line-height: 16px;
    }
}

.articulo-blog-menu-lat {
    width: 100%;
    height: 450px;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
}

@media screen and (max-width:900px) {
    .articulo-blog-menu-lat {
        height: 350px;
    }
}

.contenedor-tags {
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width:900px) {
    .contenedor-tags {
        flex-direction: column;
    }
}

.article-main-banner {
    height: 100%;
    object-fit: cover;
    object-position: left;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    z-index: -1;
}

.contenedor-tags span {
    padding: 3px 8px;
    background-color: #404B5A;
    border-radius: 2px;
    font-size: 12px;
    color: white;
}

h1 {
    text-align: center;
    color: white;
}

.contenedor-articulos {
    display: flex;
    margin-top: 40px;

}
.contenedor-articulos img {
   min-width: 200px;
   height: 130px;
   background-color: #ededed;
   margin-right: 10px;
   object-fit: cover;
}
.contenedor-articulos p {
   width: 100%;
   color: #404B5A;
}
.container-share-social {
    margin: 20px 0px;
    height: 100px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #ebebeb;
    display:flex;
    align-items:center;
}
.container-share-social .contenedor-links {
    display: flex;
    align-items: center;
}
.container-share-social .contenedor-links p {
    display: flex;
    margin: 0px 10px 0px 0px;
}
.container-share-social .contenedor-links a {
    width: 45px;
    height: 45px;
    background-color: #404B5A;
    border-radius: 50%;
    margin-left: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container-blog-next-prev {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-blog-next-prev .container-pagination {
    background-color: transparent;
}
.container-blog-next-prev .container-pagination a {
    display: flex;
}
.container-blog-next-prev .container-pagination a .contenedor-texto .title {
    font-size: 14px;
    text-transform: uppercase;
    color: #7b7b7b;
}
.container-blog-next-prev .container-pagination a .contenedor-texto p {
    font-size: 14px;
    text-transform: uppercase;
    color: #7b7b7b;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.container-blog-next-prev .container-pagination a .contenedor-texto .next-article {
    font-size: 14px;
    text-transform: uppercase;
    color: #7b7b7b;
    text-align: right;
    display:flex;
    justify-content:flex-end;
}
.container-blog-next-prev .container-pagination a .contenedor-texto p {
    display: flex;
    margin: 0px;
    color: #404B5A;
    margin: 0px 20px;
}

.invert {
    transform: rotate(180deg);
}

.contenido-articulo {
    padding-right: 100px;
}

@media screen and (max-width:900px) {
    .contenido-articulo {
        padding:0px 10px;
    }
}

.contenedor-articulos-relacionados h5 {    
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
}

@media screen and (max-width:900px) {
    .contenedor-articulos-relacionados {
        margin-top: 40px;
    }
}

.container-slide .container-titles h2 p {
    color: #fff;
    font-weight: 600;
}
.container-slide .container-titles a.blog-hover-effect-btn:hover {
    background-color: white;
    color: #404B5A;
    font-weight: 600;
}

/* Estilos del menú en versión movil */
.movil-header-body {
    background-color: transparent;
}
.movil-header-body .enlaces-importantes a {
    background-color: #404B5A;
    font-size: 14px;
    padding: 8px 6px;
    color: white;
    text-transform: none;
}
.movil-header-body li {
    text-transform: uppercase;
    margin: 15px 0px;
    color: #404B5A;
}
.movil-header-body li a {
    font-size: 14px;
    text-transform: uppercase;
    margin: 15px 0px;
    color: #404B5A;
    font-weight: 700;
}

@media screen and (max-width:900px) {
    .article-section .articulo-blog-menu-lat div h1{
        font-size: 22px;
        font-weight: 700;
        width: 80%;
    
    }
}

p {
    color: #404B5A;
}


