.breadcrumbs-container a,
.breadcrumbs-container span {
    color: #404B5A;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}
.breadcrumbs-container a:nth-last-child(1),
.breadcrumbs-container span:nth-last-child(1) {
    color: #404B5A;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

/* Estilos para la paginacion interna de la vista de coleccion */
.pagination--item {
    border: 1px solid #404B5A;
    opacity: .5;
}
.pagination--active .pagination--item {
    border: 1px solid #404B5A;
    opacity: 1;
}

.filter-item {
    margin-left: 10px;
}

.productgrid--sidebar-title--small {
    color: #404B5A;
}

.collection--description {
    display: flex!important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #404B5A;
}