.section-general {
  padding-left: 90px;
  padding-right: 90px;
}

.section-general img.desktop {
  width: 100%;
  display: block;
}
.section-general img.mobile {
  width: 100%;
  display: none;
}
@media (max-width: 800px) {
  .section-general img.desktop {
    display: none;
  }
  .section-general img.mobile {
    display: block;
  }
  .section-general {
    padding: 48px 22px;
  }
  .section-textu-urban {
    padding: 48px 22px 0px;
  }
  .parraf-blck {
    font-size: 16px;
    margin-top: 48px;
    padding-left: 2%;
    padding-right: 2%;
  }
}